.job-selector-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px 30px;
  
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 10000;
}
.category {
  margin: 10px;
  color:rgb(68, 8, 90);
}
.job-list {
  margin: 10px
}
.job-button {
  margin: 5px;
  background-color: rgb(182, 150, 219);
}
.job-selector-popup h3 {
  font-weight: bold;
  color: rgb(75, 19, 127);
  text-align: center;
}