.button-primary {
    display: flex;
    justify-content: center;
}
body {
  background-color: rgb(248, 236, 248);
  color: rgb(155, 98, 207);
}

.todo-item{
  border: 1px solid rgb(183, 131, 208);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-content{
  padding:1em
}
.add-item-row{
  margin-top:50px !important;
  margin-bottom: 30px;
}
.input-box{
  padding: 10px;
  width:100%;
  border: 1px solid rgb(236, 205, 248);
  
  
}
.input-box:focus{
  outline: none;
}
button{
  background-color: rgb(196, 158, 208);
  color: white;
}
.button-add{
  height: 40px;
  width: 100%;
  border: none;
  background-color: lightblue;
  color: white;
}
.button-add:hover{
  background-color: white;
  color: lightblue;
  border: 2px solid lightblue;
}
.button-delete{
  background-color: white;
  border: 2px solid rgb(202, 171, 226);
  color: rgb(209, 177, 223);
  margin: 10px;
}
.button-delete:hover{
  background-color: lightblue;
  color: #ffffff;
}

.item-complete{
  background-color: gainsboro;
  color:white;
}

.login-box{
  border:1px solid rgb(218, 187, 222);
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 20px;
}
.login-box label{
  font-weight: 700;
}

.display-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.button-box{
  display:flex;
  justify-content: space-between
}

.button-primary{
  background-color: rgb(216, 168, 229);
  color: #ffffff;
  border:none;
  
}

.red-error{
  color : red;
}